.content {
    color: $color-navy-blue;

    &__list {
        list-style: circle;
        padding: 0;
        margin-left: 1.5rem;
    }

    &__item {
        padding-bottom: 2rem;
        width: 55%;
    }

}
