.news {
    height: 83.4rem;
    
    @include respond(tab-land) {
        height: auto;
    }
    
    &__posts {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); 
        grid-gap: 2rem;
        
        @include respond(phone) {
            grid-template-columns: 1fr;
        }
    }
}

.post {
    
    @include respond(phone) {
        padding-bottom: 4rem;
        
        &:nth-child(-n + 2) {
            border-bottom: 1px solid rgba(128, 139, 155, .5);
        }
    }        
    
    &__box {
        margin: 0;
        
        @include respond(phone) {
            display: flex;
            justify-content: flex-start;
            width: 90%;
            min-height: 17rem;
            margin: 0 auto;
        }
        
        @include respond(small-phone) {
            flex-direction: column;
        }
    }
    
    &__text-box {
        @include respond(phone) {
            display: flex;
            text-align: left;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
            padding-left: 1.5rem;
        }
        
        @include respond(small-phone) {
            padding-left: 0;
        }
    }

    &__text {
        padding-top: 1.5rem;
        font-size: 1.8rem;
        font-family: "MuseoSans";
        color: $color-navy-blue;
        text-align: left;
        
        @include respond(phone) {
            padding-top: 0;
        }
    }

    &__img {
        width: 100%;
        
        @include respond(phone) {
//            max-width: 18rem;
//            min-width: 33%;
//            max-height: 17rem;
//            min-height: 100%;
            height: auto;
            min-width: 35%;
            width: 35%;
        }
        
        @include respond(small-phone) {
            width: 100%;
            margin-bottom: 1rem;
        }
    }

}