// FONT VARIABLES

$font-main: "MuseoSans", sans-serif;

$font-size: 1.6rem;

$line-height: 1.5;


// COLOR VARIABLES

$color-blue: rgb(0, 79, 251);

$color-navy-blue: #121e3e;

$color-primary: $color-blue;


// CONTAINER VARIABLES

$container-width: 1181px;

$container-width-resp: 90%;

